<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
        <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'home' %}">Instagram</a>
                  </div>
            
                  <!-- Adding a search form  -->
                  <div class="ml-auto" id="navbarNav">
                        <ul class="navbar-nav ">
                    
                            <form class="form-inline">
                                <input class="form-control mr-lg-2 text-center w-150" style="font-size:18px; padding-right:-2%; "
                                    type="search" placeholder="Search" aria-label="Search">
                    
                            </form>
                        </ul>
                    </div>
                  <!-- search form end -->
                </div>
              </nav>
  
</body>

</html>

































