
  h1{
    color:#405DE6;
    text-align: center;
    font-family: 'Cookie', cursive;
  }

   body{
    background-image:url('https://cdn.pixabay.com/photo/2018/04/14/17/57/instagram-3319588__340.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
  } 

  img {
    border-radius: 50%;
  }